@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: "Comic Relief", sans-serif;
}

body {
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    /*padding: 0;*/
}

a {
    color: inherit;
}

button {
    font: inherit;
}

.animate-opacity {
    animation-name: OpacityTransition;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes OpacityTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}